In [2]:
import pandas as pd

In [10]:
titanic_train = pd.read_csv("train.csv")
titanic_test = pd.read_csv("test.csv")
gender_submission = pd.read_csv("gender_submission.csv")

## Prepare the Data for Machine Learning Algorithms

### Data Cleaning

In [14]:
# check for na values
titanic_train.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [15]:
from sklearn.impute import SimpleImputer

In [17]:
imputer = SimpleImputer(strategy="median")

In [19]:
titanic_train_num = titanic_train.select_dtypes(include="number")

In [20]:
imputer.fit(titanic_train_num)

SimpleImputer(strategy='median')

In [25]:
# computed medians were stored in statistics_ attribute
imputer.statistics_ == titanic_train_num.median()

PassengerId    True
Survived       True
Pclass         True
Age            True
SibSp          True
Parch          True
Fare           True
dtype: bool

In [26]:
X = imputer.transform(titanic_train_num)

In [27]:
X

array([[  1.    ,   0.    ,   3.    , ...,   1.    ,   0.    ,   7.25  ],
       [  2.    ,   1.    ,   1.    , ...,   1.    ,   0.    ,  71.2833],
       [  3.    ,   1.    ,   3.    , ...,   0.    ,   0.    ,   7.925 ],
       ...,
       [889.    ,   0.    ,   3.    , ...,   1.    ,   2.    ,  23.45  ],
       [890.    ,   1.    ,   1.    , ...,   0.    ,   0.    ,  30.    ],
       [891.    ,   0.    ,   3.    , ...,   0.    ,   0.    ,   7.75  ]])

*If you want to put it back into a pandas DataFrame:*

In [31]:
#titatic_train_df = pd.DataFrame(X, columns=titanic_train_num.columns)